@import '../config/colours';
@import '../config/animations';

$playbutton-size: 4em;

.main {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

%vis {
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 0;
}

.vis {
  @extend %vis;
}

.vis-detached {
  @extend %vis;
  background-color: $detached-colour;
}

.detached-warning {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  padding: 1em 0;

  p {
    font-style: italic;
    margin: 0;
    padding-right: 1em;
  }

  .bold {
    font-weight: bold;
  }
}

.other-info {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
}

.controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
}

.toggleplay {
  background-color: $transparent;
  border-radius: 0;
  fill: $black;
  flex-basis: $playbutton-size;
  flex-grow: 0;
  height: $playbutton-size;

  &:hover {
    background-color: $black;
    fill: $white;
  }
}

.seekbar {
  flex-grow: 1;
  padding: 0 1em;
}
