@import '../config/colours';
@import '../config/animations';

$playbutton-size: 4em;

.main {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
}

%vis {
  flex-basis: 50%;
  flex-grow: 0;
}

.vis {
  @extend %vis;
}

.vis-detached {
  @extend %vis;
  background-color: #FFDFDF;
}

.detach-button {
  align-self: flex-start;
  flex-grow: 0;
}


.other-info {
  align-self: center;
  flex-grow: 1;
}

.controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
}

.toggleplay {
  @extend %button-animation;
  background-color: $transparent;
  border: 0;
  cursor: pointer;
  fill: $black;
  flex-basis: $playbutton-size;
  flex-grow: 0;
  height: $playbutton-size;
  padding: 1em;

  &:hover {
    background-color: $black;
    fill: white;
  }

  &:active {
    background-color: $transparent;
    transition-duration: .1s;
  }
}

.seekbar {
  flex-grow: 1;
  padding: 0 1em;
}
