.main {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

%vis {
  flex-basis: 50%;
}

.vis {
  @extend %vis;
}

.vis-detached {
  @extend %vis;
  background-color: #FFDFDF;
}

.detach-button {
  align-self: flex-start;
}


.other-info {
  align-self: center;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
}

.toggleplay {
  flex-basis: 4em;
  flex-grow: 0;
}

.seekbar {
  flex-grow: 1;
}
