@import './config/colours';
@import './config/animations';

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-bg-colour;
  color: $black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  @extend %button-animation;
  background-color: $tab-colour-inactive;
  border: 0;
  border-radius: .4em;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0;
  outline: none;
  padding: 1em;
  text-align: center;

  &:hover {
    background-color: $colour-primary;
    color: $white;
  }
}
